body {
    background-color: #151515;
    position: relative;
    width: 1440px;
    height: 3872px;
    margin-left: 60px;
}

/* start of section-1 */

.top-name {
    position: absolute;
    width: 270px;
    height: 32px;
    left: 165px;
    /* top: 39px; */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;
    color: #FFFFFF;
}

.random-style-image-top {
    position: absolute;
    width: 530px;
    height: 129px;
    left: -100px;
    top: 133px;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.random-style-image-bottom {
    position: absolute;
    width: 530px;
    height: 129px;
    left: -205px;
    top: 3524px;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.introduction {
    position: absolute;
    width: 706px;
    height: 303px;
    left: 165px;
    top: 198px;
}

.introduction p {
    margin: 0;
    position: absolute;
    height: 84px;
    left: 0%;
    right: 36.97%;
    top: calc(50% - 84px/2 + 109.5px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
}

.greet,
.intro,
.name {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}

.greet {
    position: absolute;
    width: 709px;
    height: 88px;
    left: calc(50% - 709px/2 + 1.5px);
    top: calc(50% - 88px/2 - 107.5px);
    z-index: 10;
    margin: 0;
}

.intro {
    position: absolute;
    width: 120px;
    height: 88px;
    left: calc(50% - 120px/2 - 293px);
    top: calc(50% - 88px/2 - 19.5px);
    margin: 0;
}

.name {
    position: absolute;
    width: 600px;
    height: 88px;
    left: calc(50% - 518px/2 + 43px);
    top: calc(50% - 88px/2 - 19.5px);
    z-index: 10;
    margin: 0;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #4EE1A0;
}

.profile-image-frame {
    position: absolute;
    width: 445px;
    height: 720px;
    left: 830px;
    top: 0px;
    background-color: #242424;
}

.profile-image {
    position: absolute;
    width: 444.88px;
    height: 618px;
    top: 141px;
    overflow: hidden;
}

.oval-shape {
    box-sizing: border-box;
    position: absolute;
    width: 129px;
    height: 129px;
    left: 766px;
    top: 521px;

}

.social-links {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 192.49px;
    height: 25px;
    left: 1053px;
    margin-top: 30px;
    /* top: 43px; */
}

.contact-me-linked {
    position: absolute;
    width: 120px;
    height: 38px;
    left: 165px;
    top: 567px;
}

.contact-me-linked h1 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    margin-top: 0;
    color: #FFFFFF;
}

.contact-me-linked .underline {
    text-decoration: underline;
    text-decoration-color: #4EE1A0;
}


/* end of section 1 */

hr {
    position: absolute;
    width: 1110px;
    height: 1px;
    left: 165px;
    top: 824px;
    background: #FFFFFF;
}

/* start of section-2 */

.section-2 {
    margin-top: 20px;
    position: absolute;
    width: 1110px;
    height: 327px;
    left: 165px;
    top: 824px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.section-2 h1 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    color: #FFFFFF;
}

.section-2 p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-top: -20px;
    color: #D9D9D9;
}

/* end of section-2 */

/* start of section-3 */
.section-3 {
    position: absolute;
    width: 1110px;
    height: 1767px;
    left: 165px;
    top: 1291px;
}

.section-3 h1 {
    margin-top: -10px;
    width: 334px;
    height: 88px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}

.contact-me-linked-projects {
    position: absolute;
    left: 89.19%;
    right: 0%;
    top: 1.41%;
    bottom: 96.43%;
}

.contact-me-linked-projects h1 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    margin-top: 0;
    color: #FFFFFF;
}

.contact-me-linked-projects .underline {
    text-decoration: underline;
    text-decoration-color: #4EE1A0;
}

.projects-section {
    position: absolute;
    width: 1110px;
    height: 1599px;
    left: 0px;
    top: 168px;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
}

.projects-section h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.projects-section p {
    margin-top: -10px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
}

/* end of section-3 */

/* start of section-4 */

#section-4 {
    position: absolute;
    width: 100%;
    height: 675px;
    left: 0px;
    top: 3197px;
    background: #242424;
}

.contact-me-left-side {
    /* position: absolute;
    width: 1110px;
    height: 327px;
    left: 165px;
    top: 100px; */
    position: absolute;
    width: 445px;
    height: 300px;
    left: 165px;
    top: 100px;
}

.contact-me-left-side h1 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    margin: 0;
    color: #FFFFFF;
}

.contact-me-left-side p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
}

.form-right-side {
    position: absolute;
    width: 445px;
    height: 327px;
    left: 830px;
    top: 100px;
}

form {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
}

label,
textarea #id {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.222222px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

/* end of section-4 */

/* footer start*/

.last-line {
    position: absolute;
    width: 1110px;
    height: 1px;
    left: 165px;
    top: 3700px;
    background: #FFFFFF;
}

.bottom-name {

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;
    color: #FFFFFF;
    position: absolute;
    height: 32px;
    left: calc(50% - 172px/2 - 469.25px);
    top: 3700px;
    z-index: 10;

}

.social-links-at-bottom {

    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 300px;
    height: 25px;
    left: 918px;
    top: 3730px;
    z-index: 10;
}


/* footer end */

@media screen and (min-width: 300px) and (max-width: 600px) {
    body {
        width: 100%;
        height: 6034px;
        margin-left: 0%;
    }

    .top-name {
        width: 100%;
        left: 0;
        z-index: 10;
        text-align: center;
    }

    .social-links {
        width: 100%;
        left: 0;
        top: 53.78px;
    }

    .profile-image-frame {
        width: 100%;
        left: 0;
        height: 383px;
        overflow: hidden;
    }

    .profile-image {
        width: 100%;
        height: 383px;
        top: 100px;
    }

    .section-2 {
        width: 100%;
        height: 900px;
        left: 0;
        top: 800px;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;

    }

    .section-2 p,
    .section-2 h1 {
        display: grid;
        justify-items: center;
    }

    .section-3 {
        width: 100%;
        height: 40px;
        left: 0;
        top: 1800px;
        

    }

    .section-3 h1 {
        font-size: 32px;
        line-height: 40px;
        margin-top: 0px;
    }

    .contact-me-linked-projects {
        position: absolute;
        left: 65.01%;
        right: 0%;
        top: 2.5%;
        bottom: 2.5%;
    }

    .contact-me-linked-projects h1 {
        margin-top: 10px;
        font-size: 16px;
        line-height: 26px;
    }

    .projects-section {
        position: absolute;
        width: 100%;
        height: 3200px;
        margin-top: -70px;
        /* margin-top: 100px ; */
        left: 0;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
    }

    #section-4 {
        

        width: 100%;
        height: 834px;
        left: 0px;
        top: 5200px;
    }

    .contact-me-left-side {
        
        width: 100%;
        height: 138px;
        left: 0;
    }

    .contact-me-left-side h1 {
        position: absolute;
        width: 100%;
        height: 40px;
        left: calc(50% - 343px/2);
        top: calc(50% - 40px/2 - 49px);

        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        /* identical to box height, or 100% */
        text-align: center;
        letter-spacing: -1.13636px;

        /* White */
        color: #FFFFFF;
    }

    .contact-me-left-side p {
        position: absolute;
        height: 78px;
        left: 0%;
        right: 0%;
        margin-top: 50px;
        /* top: calc(50% - 78px/2 + 30px); */
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    .form-right-side {
       
        width: 100%;
        height: 327px;
        left: 0;
        margin-top: 200px;
    }
}